/* 
 * UTF-8
 * Breadcrumbs - Base styles
 * created by Yanyi Luo, Fall 2012
 * modified
 *
 */

/* ==========================================================================
   Typefaces
   ========================================================================== */

/* ==========================================================================
   Global Settings
   ========================================================================== */

div,
input { /* border for initial testing */
/*	border: 1px solid #6CF;*/
	font-family: Quicksand;
	font-weight: 400;
	font-size: 25px;
}

a:link,
a:active,
a:hover,
a:visited { /* pesky link underlines, begone! */
	text-decoration: none;
}

a {
	color: #00aeff;
	-webkit-transition: color 0.5s ease-out; /* Saf3.2+, Chrome */
	-moz-transition: color 0.5s ease-out; /* Firefox 4+ */
	-ms-transition: color 0.5s ease-out; /* IE10+ */
	-o-transition: color 0.5s ease-out; /* Opera 10.5+ */
	transition: color 0.5s ease-out;
}

h1,
h2,
h3,
h4 {
	color: #e95d00;
}

div:hover,
.bcrumbs-header-link:hover {
	-webkit-transition: background-color 0.5s ease-out; /* Saf3.2+, Chrome */
	-moz-transition: background-color 0.5s ease-out; /* Firefox 4+ */
	-ms-transition: background-color 0.5s ease-out; /* IE10+ */
	-o-transition: background-color 0.5s ease-out; /* Opera 10.5+ */
	transition: background-color 0.5s ease-out;
}

a:hover {
	color: #e95d00;
}

form,
input {
	margin: 0px;
}

html,
body,
.bcrumbs-wrapper {
	width: 100%;
	min-height: 100%;
	background-image:url(../img/subtle_dots.png);
	background-position: top left;
	background-repeat:repeat;
}

.breadcrumb { /* resetting Bootstrap breadcrumb (user path) ul background*/
	background-color: transparent;
}

.input-append button.add-on { /* attaches buttons to input fields, notably header searchbox */
    height: 30px !important;
}

.bcrumbs-content { /* set the width of all content divs */
	width: 960px;
	min-height: 100%;
	margin: auto;
	background-color: #fff;
	position: relative;
	top: 75px;
	
	z-index: 30;
}

.bcrumbs-view { /* set height/width of each Breadcrumbs view */
	width: 100%;
	min-height: 100%;
	display: block;
	padding: 10px;
}

.bcrumbs-loading img {
  padding-left: 146px;
}

.img-crop { /* Style for all elements that crop images */
	overflow: hidden;
}

.img-overlay,
.img-overlay-text {
	display: block;
	position: absolute;
	height: 200px;
	width: 200px;
}

.img-overlay {
	background-color: #000;
	z-index: 1000;
	opacity: 0.5;
	height: 200px;
	width: 200px;
	margin: 0 5px;
}

.img-overlay-text {
	text-align: left;
	color: #fff;
	height: 190px;
	width: 190px;
	font-size: 15px;
	margin: 5px 10px;
}

.bcrumbs-listing { /* Class for all list gridding */
	width: 210px;
	margin: 0px 10px 15px 10px;
	display: inline-block;
	text-align: center;
}


.bcrumbs-listing > span,
.bcrumbs-listing > img {
	display: block;
}

.bcrumbs-list-name, /* lists and single business names have same style */
.bcrumbs-single-list-view-link {
	font-size: 16px;
	font-weight:600;
}

.bcrumbs-single-list-item-img {
	width: 210px;
	height: 210px;
	overflow: hidden;
}

.bcrumbs-single-list-item-img img {
  height: 200px;
  width: 200px;
}

.bcrumbs-single-icons {
	position: relative;
	float: left;
	margin-top: -30px;
	background-color: #fff;
	opacity: 0.8;
	height: 40px;
	width: 100%;
}

.bcrumbs-single-icons,
.img-overlay-text {
	z-index: 9999;
}

.bcrumbs-single-icons > a { /* Class for all single items shown in lists */
	display: inline-block;
	padding: 0px 15.4px;
}

.text-icon { /* alignment for icons that are placed next to text */
	margin-top: 6px;
	
}

/* ==========================================================================
   Breadcrumbs Header & Footer
   ========================================================================== */

.bcrumbs-header {
	width: 100%;
	overflow: visible;
	position: fixed;
	top: 0;
	
	background-color: #e95d00;
	z-index: 100;
}

.bcrumbs-header,
.bcrumbs-header a:link,
.bcrumbs-header a:visited {
	color: #fff;
	height: 75px;
}

.bcrumbs-logo,
.bcrumbs-header > form,
.bcrumbs-header-link {
	vertical-align: top;
	padding: 0% 0.5%;
}

.bcrumbs-logo,
.bcrumbs-header > form,
.bcrumbs-header-link > span {
	position: relative;
	display: inline-block;
	top: 35%;
}

.bcrumbs-logo {
	font-size: 60px;
	font-weight: 800;
	line-height: 13px;
}

.bcrumbs-logo > a {
	padding-right: 5px;
}

.bcrumbs-logo > img {
	width: 50px;
	top: -18px;
	position: relative;
	vertical-align: top;
}

.bcrumbs-header-link { /* set header links to right of browser*/
	display: block;
	float: right;
	height: 100%;
	background-color: #e95d00;
	padding: 0px 20px;
}

.bcrumbs-header > p {
	position: relative;
	float: right;
	top: 35%;
}

.bcrumbs-header-link:hover {
	background-color:#D23F0D;
}

.bc-footer {
	width: 100%;
	position: fixed;
	bottom: 0px;
	height: 20px;
	background-color: #e95d00;
	
	z-index: 100;
}

.bc-footer,
.bc-footer a {
	color: #fff;
	font-weight: 600;
	font-size: 15px;
}

.bc-footer > span {
	padding: 0px 5px;
}

.bc-footer-links {
	float: right;
}

/* ==========================================================================
   Breadcrumbs My Crumbs View
   ========================================================================== */

.bcrumbs-list {
  width: 225px;
  padding: 25px;
}

.bcrumbs-list-name {
	margin-top: 15px;
}

.bcrumbs-list-stack {
	height: 200px; 
	position: relative;
	width: 200px;
	padding-bottom:15px;
}

.bcrumbs-list-img-2,
.bcrumbs-list-img-3 {
	border: 6px solid #fff;
	height: 200px; width: 200px; 
	position: absolute;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.bcrumbs-list-img-1 {
	border: 6px solid #fff;
	height: 200px; width: 200px; 
	position: absolute;
  top: 0;
  left: 0;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.bcrumbs-list-img-2 {
	top: -2px;
	left: 8px;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
}

.bcrumbs-list-img-3 {
	top: -6px;
	left: 12px;
	-webkit-transform: rotate(8deg);
	-moz-transform: rotate(8deg);
	-o-transform: rotate(8deg);
	-ms-transform: rotate(8deg);
	transform: rotate(8deg);
}

.bcrumbs-list-img {
	height: 194px;
	width: 194px;
	padding: 3px;
}

.bcrumbs-list-add:hover {
	background-color: #F6F6F6;
	cursor: pointer;
}

.bcrumbs-list-add {
	padding: 32px;
}

.bcrumbs-list-add {
	padding: 32px;
}

/* ==========================================================================
   Breadcrumbs Single View
   ========================================================================== */

.bcrumbs-single-item-nav > li {
	font-size: 15px;
	font-weight: 900;
	width: 230px;
}

.bcrumbs-single-item-nav > li > a {
	padding-left: 30px;
}

.bcrumbs-single-item-nav > li > i {
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}

.bcrumbs-single-item-section > p {
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 20px;
}

.bcrumbs-single-item-img {
	height: 300px;
	width: 100%;
	overflow: hidden;
}

/* ==========================================================================
   Breadcrumbs Browse View
   ========================================================================== */

.bcrumbs-browse-collapse {
	width: 100%;
	height: 50px;
	font-family: Quicksand;
	font-weight: 700;
	font-size: 20px;
}

/* ==========================================================================
   Breadcrumbs History
   ========================================================================== */
.bcrumbs-path {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
}

/* ==========================================================================
   Hide Templates
   ========================================================================== */
.template {
  display: none;
}
